<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="index.html">
<div class="box">
<h1>Edit Information Of User</h1>

<input name="firstName" value="firstName" class="email" />
  
<input name="lastName" value="lastName" class="email" />
  
<a href="#"><div class="btn">Submits</div></a>

<a href="#"><div id="btn2">Back</div></a>
  
</div>
  
</form>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>

